:root {
  /*-------PALETA-------*/
  --primary-color: #f0f2f5;
  --secundary-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Author', sans-serif;
}

main {
  background-color: #f0f2f5;
  height: 100vh;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  /* display: none; */
}

body {
  overflow-y: hidden;
}

.media {
  background-color: white;
  width: 600px;
  height: 100vh;
  box-shadow: 4px 4px 8px #fff2;
  border: 0.5px solid #f0fff3;
}

#container {
  overflow: auto;
  height: 90%;
}

.inside-message {
  display: flex;
  width: 100%;
  height: 100vh;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
/* Fundo que corre */

::-webkit-scrollbar {
  width: 1.5px;
  background: transparent;
}

/* Linha que desce */
::-webkit-scrollbar-thumb {
  background: gainsboro;
  border-radius: 15px;
}
/* Linha que desce*/

.containerInicial {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.selecione {
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
}

.card-pessoa {
  width: 200px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  /* padding-left: 32px; */
}

.nome-pessoa {
  font-size: 2rem;
  color: gray;
}

.imagem-pessoa {
  width: 100%;
  border-radius: 50%;
  filter: grayscale(80%);
  transition: all 0.3s;
}

.imagem-pessoa:hover {
  filter: grayscale(0);
}

@media (max-width: 640px) {
  main {
    flex-direction: column;
  }
  .media {
    width: 100%;
    height: 100%;
    /* display: block; */
  }
  #inside-message {
    width: 100vw;
    display: none;
  }
}
